| <!doctype html> 
head
  script[src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"]
  script[src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"]
  script[src="../morris.js"]
  script[src="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.js"]
  script[src="lib/example.js"]
  link[rel="stylesheet" href="lib/example.css"]
  link[rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.css"]
body
  h1
    | Title
  #graph
  pre#code.prettyprint.linenums
    |  // Insert code here: // it'll get eval()-ed and prettyprinted. 
